*~
ChangeLog
INSTALL
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
/configure
/doc/yelp-xsl/ducks/
/install-sh
/m4/
/missing
/test/colors/output/
/test/docbook/output/
/test/mallard/output/
/test/syntax/output/
/xslt/common/domains/yelp-xsl.xml
/yelp-xsl.pc
