<tmpl>
.hljs a {
  color: inherit;
  border-bottom: dotted 1px {{$color.fg.blue}};
}
.hljs a:hover, .hljs a:hover * { color: {{$color.fg.blue}}; }
.hljs-addition {
  color: {{$color.fg.green}};
  background-color: {{$color.bg.green}};
}
.hljs-deletion {
  color: {{$color.fg.red}};
  background-color: {{$color.bg.red}};
}
.hljs-emphasis  { font-style: italic; }
.hljs-strong    { font-weight: bold; }
.hljs-attr      { color: {{$color.fg.blue}}; }
.hljs-attribute { color: {{$color.fg.yellow}}; }
.hljs-built_in  { color: {{$color.fg.orange}}; }
.hljs-bullet    { color: {{$color.fg.green}}; }
.hljs-class     { }
.hljs-code      { color: {{$color.fg.dark}}; }
.hljs-comment   { color: {{$color.fg.gray}}; }
.hljs-doctag    { }
.hljs-formula   { color: {{$color.fg.dark}}; }
.hljs-function  { }
.hljs-keyword   { color: {{$color.fg.purple}}; }
.hljs-link      { color: {{$color.fg.orange}}; }
.hljs-literal   { color: {{$color.fg.orange}}; }
.hljs-meta      { color: {{$color.fg.orange}}; }
.hljs-name      { color: {{$color.fg.red}}; }
.hljs-number    { color: {{$color.fg.orange}}; }
.hljs-params    { color: {{$color.fg.orange}}; }
.hljs-quote     { color: {{$color.fg.gray}}; }
.hljs-regexp    { color: {{$color.fg.red}}; }
.hljs-rest_arg  { }
.hljs-section   { color: {{$color.fg.blue}}; }
.hljs-string    { color: {{$color.fg.green}}; }
.hljs-subst     { }
.hljs-symbol    { color: {{$color.fg.green}}; }
.hljs-tag       { color: {{$color.fg.red}}; }
.hljs-title     { color: {{$color.fg.blue}}; }
.hljs-type      { }
.hljs-variable  { }
.hljs-selector-attr  { }
.hljs-selector-class { color: {{$color.fg.red}}; }
.hljs-selector-id    { color: {{$color.fg.red}}; }
.hljs-selector-tag   { color: {{$color.fg.purple}}; }
.hljs-template-tag      { }
.hljs-template-variable { }
</tmpl>
